.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  display: grid;
  background-color: gray;
  grid-template-rows: 250px 270px 60px 275px 250px 270px 250px 60px;
  grid-template-columns: 100%;
  grid-template-areas: 
    "chart"
    "transactions"
    "news"
    "upgrades"
    "hype"
    "advertisement"
    "leaderboard"
    "discord";
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
.Main {
  display: grid;
  background-color: gray;
  grid-template-rows: 275px 270px 250px 60px;
  grid-template-columns: 400px 600px 400px 25px;
  grid-template-areas: 
    "leaderboard upgrades hype ."
    "advertisement transactions hype ."
    "chart chart hype ."
    "news news news discord";
}
}

.CashLeaderboard {
  padding: 10px;
  margin: 10px;
  grid-area: leaderboard;
}

.Advertisement {
  margin: 10px;
  grid-area: advertisement;
}

.HypeFeed {
  padding: 10px;
  margin: 10px;
  grid-area: hype;
}

.NewsTicker {
  padding: 10px;
  margin: 10px;
  grid-area: news;
}

.TransactionPanel {
  padding: 10px;
  margin: 10px;
  grid-area: transactions;
}

.UpgradePanel {
  padding: 10px;
  margin: 10px;
  grid-area: upgrades;
}

.PriceChart {
  padding: 10px;
  margin: 10px;
  grid-area: chart;
}

.DiscordLink {
  margin-top: 10px;
  grid-area: discord;
}

.cashGainAnimation {
  position: relative;
  color: green;
  animation: 1.5s ease-out 0s 1 slideUp;
}

.cashLossAnimation {
  position: relative;
  color: red;
  animation: 1.5s ease-out 0s 1 slideDown;
}

@keyframes slideUp {
  from {
    bottom: 0;
    left: 0;
    opacity: 1;
  }
  to {
    bottom: 20px;
    left: 0;
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    top: 0;
    left: 0;
    opacity: 1;
  }
  to {
    top: 20px;
    left: 0;
    opacity: 0;
  }
}